/.DS_Store
/Add.html
/AddDepartment.java
/AddDepartment.jsp
/AddFaculty.java
/AddFaculty.jsp
/CurrencyConverter.java
/DisplayFaculty.java
/DisplayFaculty.jsp
/DollarConvert.html
/Unofficial Transcripts.pdf
/a.out
/allpairs.py
/analysis.py
/covid19.py
/covid_19.json
/cow.py
/cs5112zoom.txt
/final.sql
/homework4.sql
/hw1_sol.pdf
/hw2.pdf
/hw2_sol.pdf
/hw3.pdf
/hw3_sol.pdf
/lab17.html
/lab19.sql
/lab20.html
/lab20.sql
/lectureGraphs.py
/maximum.py
/notes.txt
/notes2.txt
/plain-white-background.jpg
/presentation_notes.txt
/question.html